<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chessing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F93ABF4D1CDFE0E90064A990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93ABF631CDFE0EA0064A990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F978D89B1EF9C8A5000D4E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
